.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My css from here */
.navbar{
  display: flex;
  justify-content: center;
  background-color: grey;
}
.navbar li{
  list-style: none;
}
.navbar-item a{
  color: rgb(216, 207, 207);

}
.active a{
  color: black;
}

/* home.js */
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container h3{
  display: flex;
  justify-content: center;
}
form .box{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form button{
  margin: 5px 0px;
  background-color: #86e286;
  color: black;
  border-radius: 6px;
}

/* cards for notes */
.cards{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;  
  width: 400px;
  height: 150px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  margin: 5px 2px;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  
}
.buttons{
  display: flex;
  color: white;
}
.buttons .edit{
  display: flex;
  color: white;
  background-color: grey;
  border-radius: 5px;
  margin: 5px;
}
.buttons .delete{
  display: flex;
  color: white;
  background-color: red;
  border-radius: 5px;
  margin: 5px;
}



